<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.juliachihata.co_pilot">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MissionActivity"></activity>
        <activity android:name=".DifficultyActivity"
            android:parentActivityName=".AwarenessActivity"
            />
        <activity android:name=".AltcorrectionActivity" />
        <activity android:name=".LogbookActivity"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".DictionaryActivity"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".AwarenessActivity"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".CalculationsActivity"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>