<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.juliachihata.co_pilot">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".BluetoothSettingActivity"></activity>
        <activity android:name=".BluetoothActivity" />
        <activity android:name=".GestureActivity" />
        <activity android:name=".MissionActivity" />
        <activity android:name=".ActivitySplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".DifficultyActivity"
            android:parentActivityName=".AwarenessActivity"
            />
        <activity
            android:name=".AltcorrectionActivity"
            android:parentActivityName=".CalculationsActivity"
            android:label="  Altitude Correction Calculator"/>

        <activity android:name="WeightAndBalance"
            android:parentActivityName=".CalculationsActivity"
            android:label=" Weight and Balance Calculator"
            />

        <activity
            android:name=".LogbookActivity"
            android:parentActivityName=".MainActivity"
            android:label="                   Logbook"
            />
        <activity
            android:name=".DictionaryActivity"
            android:parentActivityName=".MainActivity"
            android:label="                   SKYbrary"
            android:windowSoftInputMode="stateHidden"
            />
        <activity
            android:name=".AwarenessActivity"
            android:parentActivityName=".MainActivity"
            android:label="        Awareness Test"/>
        <activity
            android:name=".CalculationsActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".AlertReceiver" />
    </application>



</manifest>